<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="wrapper">
        <form method="post" action="/user/login">
            <% if (err) { %>
             <p style="color: red;"><%= err %></p>
            <% } %>
          <h2>Login</h2>
            <div class="input-field">
            <input type="email" name="email">
            <label>Enter your email</label>
          </div>
          <div class="input-field">
            <input type="password" name="password">
            <label>Enter your password</label>
          </div>
          <div class="forget">
          </div>
          <button type="submit">Log In</button>
          <div class="register">
            <p>Don't have an account? <a href="/user/signup">Register</a></p>
          </div>
        </form>
      </div>
      <script>
        if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
      </script>
</body>
</html>