<div class="side-bar d-flex flex-column">
    <div class="side-head text-white p-3">
      <h3>Employee
        <span>Management</span>
      </h3>
    </div>
    <nav>
      <ul class="d-flex flex-column">
        <li><a href="#"><i class="fa-solid fa-house"></i>Dashboard</a></li>
        <li><a href="index.ejs"><i class="fa-solid fa-chart-simple"></i>Employees</a></li>
        <li><a href="#"><i class="fa-solid fa-user"></i>My Profile</a></li>
        <li><a href="/user/logout" id="logoutIcon"><i class="fa-solid fa-lock"></i>Logout</a></li>
      </ul>
    </nav>
    <div class="logo d-flex">
      <h5 class="">Powered by
        <img src="/images/image 1.png">
      </h5>
    </div>
  </div>

  